<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.frater.radio" android:installLocation="auto" android:versionCode="24" android:versionName="3.3">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="26" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<permission android:name="com.frater.radio.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.frater.radio.permission.C2D_MESSAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:allowBackup="true" android:label="Radios Fráter" android:theme="@style/RadiosTheme" android:icon="@drawable/iconomicrofono">
		<meta-data android:name="io.fabric.ApiKey" android:value="17231ce27ce051fd2d9f9986cf8960b32d7b0e9d" />
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.frater.radio" />
			</intent-filter>
		</receiver>
		<activity android:icon="@drawable/iconomicrofono" android:label="urlactivity" android:name="radiosfrater.UrlActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="radiosfrater" />
			</intent-filter>
		</activity>
	</application>
</manifest>